
.feature_article_inner{
    background: #fff;
    position: absolute;
    bottom: 0;
    padding: 15px 30px;
    left: 10%;
    width: 80%;
}

.tag_lg{
    padding: 3px 8px;
    left: 40%;
    text-transform: uppercase;
    bottom: 100%;
    position: absolute;
    display: inline-block;
}

.red{
    background-color: #f72300;
    color: #fff;
}

.feature_article_title a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}






.mb128{
    margin-bottom: 128px !important;
}

.s_contact_us_one_page_bg_map .contact-container{
    position: relative;
    top: 100px;
}

.card.card-shadow{
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.card{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFFFFF;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 30px;
}

.font-bold{
    font-weight : 700;
}

.s_contact_us_one_page_bg_map .detail-box{
    padding : 40px;
}

.text-white{
    color: #ffffff !important;
}

.op-7{
    opacity: 0.7;
}

.round-social.light a{
    color: #263238;
    background: #f4f8fa;
}

.round-social a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    margin: 0 5px;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.p-40 {
    padding: 40px;
}

.title {
    margin: 20px 0 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.form-control {
    padding: .75rem;
    border: 2px solid rgba(120, 130, 140, 0.13);
    height: calc(3.0625rem + 2px) !important;
}

.font-light {
    font-weight: 300;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.btn-arrow span {
    display: inline-block;
    position: relative;
    -webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    will-change: transform;
}

.btn-danger-gradiant {
    background: #ff4d7e;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
    background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
    border: 0px;
}

.btn-arrow {
    position: relative;
}

.btn-md {
    padding: 15px 45px;
    font-size: 16px;
}






.call-to-action{
    background: #242256;
    padding: 60px 0;
    position: relative;
}

.call-to-action h3{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.call-to-action p{
    font-size: 16px;
    color: #ffffff;
}

.call-to-action .btn-default{
    color: #fff;
    background-color: #e14328;
    border-color: #e14328;
    padding: 14px 52px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0px 10px 50px #0c095d;
    border-width: 1px;
    border: 1px solid #e14328;
    opacity: 1;
    margin-top: 20px;
}